@import 'utils/utils';

svg {
  width: 1em;
}

.wrapper {
  height: 100%;
  padding: 0 1rem;
  width: 100%;

  @include bp(700) {
    padding: 0 2em;
  }

  @include bp(1024) {
    padding: 0 4em;
  }
}

/**
 * Site header
 */
.site-header {
  background: #fff;
  border-right: 1px solid $gray;
  height: 100%;
  position: fixed;

  &-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.site-nav {
  border-top: 1px solid $gray;

  &-choice {
    display: block;
    font-size: 0.75rem;
    left: 90px;
    position: absolute;
    top: 20px;
    width: 206px;

    @include bp(600) {
      left: 105px;
      top: 30px;
    }

    @include bp(700) {
      left: 122px;
    }

    @include bp(1024) {
      left: 150px;
      top: 93px;
    }

    .site-nav-li {
      display: inline-block;
      font-size: 1.25em;
    }

    .site-nav-link {
      background-color: rgba(136, 194, 201, 0.1);
      border: none;
      border-radius: 2px;
      color: $blue;
      letter-spacing: .35px;
      padding: .5em 1em;

      &_active,
      &:hover {
        background-color: $blue;
        border: none;
        color: #f4f4f4;
      }
    }
  }

  &-links {
    font-size: 0.75rem;
    text-align: right;

    & > li > a {
        background-color: rgba(0,0,0,.02);

        &:hover {
          border-right: 4px solid transparent;
        }
    }
  }

  &-link {
    border-bottom: 1px solid $gray;
    border-right: 4px solid transparent;
    color: #333;
    display: block;
    padding: 1em .5em;

    @include bp(600) {
      padding: 1em;
    }

    &:hover {
      background-color: rgba(0,0,0,.02);
      border-right: 4px solid $blue;
    }
  }

  &-li {
    text-align: center;
  }
}


// .site-header {
//     border-top: 5px solid $grey-color-dark;
//     border-bottom: 1px solid $grey-color-light;
//     display: flex;
//     min-height: 56px;
//
//     // Positioning context for the mobile navigation icon
//     position: relative;
//
//     &-wrap {
//       display: flex;
//       flex-direction: column;
//     }
//
// }
//
.site-title {
  color: #A3D8C8;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding: .75em 0;
  text-align: center;
  text-decoration: none;

  @include bp(600) {
    font-size: 1.95em;
  }

  &:hover {
    background-color: rgba(0,0,0,.02);
  }

    span {
      display: block;
      line-height: 1;
      font-size: 0.5em;
      font-weight: 300;
    }

    &:visited {
        color: #A3D8C8;
    }
}
//
// .site-nav {
//     float: right;
//     line-height: 56px;
//
//     .menu-icon {
//         display: none;
//     }
//
//     .page-link {
//         color: $text-color;
//         line-height: $base-line-height;
//
//         // Gaps between nav items, but not on the last one
//         &:not(:last-child) {
//             margin-right: 20px;
//         }
//     }
//
//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: $spacing-unit / 2;
//         background-color: $background-color;
//         border: 1px solid $grey-color-light;
//         border-radius: 5px;
//         text-align: right;
//
//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 10px;
//             text-align: center;
//
//             > svg {
//                 width: 18px;
//                 height: 15px;
//
//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }
//
//         .trigger {
//             clear: both;
//             display: none;
//         }
//
//         &:hover .trigger {
//             display: block;
//             padding-bottom: 5px;
//         }
//
//         .page-link {
//             display: block;
//             padding: 5px 10px;
//
//             &:not(:last-child) {
//                 margin-right: 0;
//             }
//             margin-left: 20px;
//         }
//     }
// }
//
//
//
// /**
//  * Site footer
//  */
// .site-footer {
//     border-top: 1px solid $grey-color-light;
//     padding: $spacing-unit 0;
// }
//
// .footer-heading {
//     font-size: 18px;
//     margin-bottom: $spacing-unit / 2;
// }
//
// .contact-list,
// .social-media-list {
//     list-style: none;
//     margin-left: 0;
// }
//
// .footer-col-wrapper {
//     font-size: 15px;
//     color: $grey-color;
//     margin-left: -$spacing-unit / 2;
//     @extend %clearfix;
// }
//
// .footer-col {
//     float: left;
//     margin-bottom: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
// }
//
// .footer-col-1 {
//     width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//     width:         calc(35% - (#{$spacing-unit} / 2));
// }
//
// .footer-col-2 {
//     width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//     width:         calc(20% - (#{$spacing-unit} / 2));
// }
//
// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }
//
// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }
//
//     .footer-col-3 {
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }
//
// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }
//
//
//
// /**
//  * Page content
//  */
// .page-content {
//     padding: $spacing-unit 0;
// }
//
// .page-heading {
//     font-size: 20px;
// }
//
// .post-list {
//     margin-left: 0;
//     list-style: none;
//
//     > li {
//         margin-bottom: $spacing-unit;
//     }
// }
//
// .post-meta {
//     font-size: $small-font-size;
//     color: $grey-color;
// }
//
// .post-link {
//     display: block;
//     font-size: 24px;
// }
//
//
//
// /**
//  * Posts
//  */
// .post-header {
//     margin-bottom: $spacing-unit;
// }
//
// .post-title {
//     font-size: 42px;
//     letter-spacing: -1px;
//     line-height: 1;
//
//     @include media-query($on-laptop) {
//         font-size: 36px;
//     }
// }
//
// .post-content {
//     margin-bottom: $spacing-unit;
//
//     h2 {
//         font-size: 32px;
//
//         @include media-query($on-laptop) {
//             font-size: 28px;
//         }
//     }
//
//     h3 {
//         font-size: 26px;
//
//         @include media-query($on-laptop) {
//             font-size: 22px;
//         }
//     }
//
//     h4 {
//         font-size: 20px;
//
//         @include media-query($on-laptop) {
//             font-size: 18px;
//         }
//     }
// }




///////////////////
// Page content
//////////////////

.page-content {
  min-height: calc(100% - 43px);
  padding: 5.1em 0 1.5em 4.56em; //1.5em 0 1.5em 4.56em;
  width: 100%;

  @include bp(600) {
    padding: 6.5em 0 1em 5.56em;
  }

  @include bp(1024) {
    padding: 9em 0 1em 5.56em;
  }

}

.post {
  width: 100%;

  @include bp(1120) {
    max-width: 900px;
  }
}

.post-link {
  color: $pink;
  letter-spacing: .35px;
}

.post-meta {
  color: $green;
  display: inline-block;
  font-size: .75em;
  margin-bottom: .75em;

  @include bp(600) {
    font-size: 1em;
    margin-bottom: 0;
  }
}

.post-title {
  color: $pink;
  margin-bottom: 0.25em;
}

.post-preview {
  max-height: 212px;
  overflow: hidden;
  position: relative;

  &::after {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(244,244,244,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4',GradientType=0 );
    bottom: 0;
    content: "";
    height: 212px;
    position: absolute;
    width: 100%;
  }
}

.post-list {

  &-h2 {
    font-size: 1.25em;
    margin-bottom: 0.666666666em;
    position: relative;
    z-index: $zBase;
  }

  &-li {
    max-height: 350px;
    overflow: hidden;

    @include bp(700) {
      display: inline-block;
      margin: 1em 0;
      padding-right: 2em;
      vertical-align: top;
      width: 49%;

      // &:first-child {
      //   margin-left: 0;
      // }
    }

    @include bp(1024) {
      width: 33%;
    }

    @include bp(1300) {
      width: 24%;
    }

    @include bp(1500) {
      max-width: 386px;
      padding-right: 4em;
    }
  }
}

.post-first-content {
  h2 { display: none; }
}

.post-author-preview {
  font-size: .75em;
  display: inline-block;
}

.post-tags-preview {
  font-size: .75em;
  display: inline-block;
  padding: .1em .65em;
  color: $white;
  background: #88C2C9;
  border-radius: 2px;
  letter-spacing: .35px;
}

.post-preview ~ a {
  color: $pink;
  border-radius: 2px;
  display: inline-block;
  font-size: .75em;
  line-height: 1;
  margin-left: 1em;
}

.site-footer {
  background: rgba(0, 0, 0, .05);
  padding-left: 4.56em;

  @include bp(700) {
    padding-left: 5.56em;
  }

  p { margin: 0; }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}


.footer-col {
  display: inline-block;
  margin-right: 1em;
  padding: .5em 0;
}
